*{
    font-family: Georgia, serif;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
}
body{
    background: linear-gradient(135deg,#71b7e6,#9b59b6);

}

html{
    font-size: 50%;
    overflow-x: hidden;
}
.container{
    max-width: 1200px;
    padding: 2rem;
    margin: 0 auto;
}
.container form{
    max-width: 50rem;
    margin: 0 auto;
    padding: 3rem;
    border-radius: 4vh;
    background:#87CEEB;
}
label{
    color: black;
    font-family: Georgia, serif;
    font-size: 175%;
}
.container form h3{
    text-transform: uppercase;
    color: black;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2.5rem;
}
.container form .box{
width: 100%;
border-radius: .3rem;
padding:1.2rem 1.5rem;
font-size: 2rem;
margin: 1rem 0;
background: white;
text-transform: none;
}
.btn{
    display: block;
    width: 50%;
    cursor: pointer;
    border-radius: .5rem;
    margin-top: 1rem;
    font-size:1.7rem ;
    padding: 1rem 3rem;
    background: green;
    color: white;
}
.btn :hover{
    background: #1E90FF;
}
table tr td{ 
    margin: 0%;
    padding:5% ;
    font-size:100% ;
}